EXERCISES N. 6
Resolve the following exercises using a code editor, an IDE, or a Jupyter Notebook. Then, upload the files to a GitHub public repository. Finally, share the repository's URL as a response to this thread.

Exercise 1
Write a recursive function factorial(n) that:
Takes a single parameter n (an integer).
Returns the factorial of n.

In [3]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

factorial(5)

120

Exercise 2
Write a function is_prime(n) that:
Takes a single parameter n (an integer).
Returns True if the number is prime, otherwise False.

In [6]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(11))
print(is_prime(6))

True
False

Exercise 3
Write a function power(base, exponent=2) that:
Takes two parameters: base (a number) and exponent (a number, default is 2).
Returns the result of raising base to the power of exponent.

In [12]:
def power(base, exponent=2):
    return base ** exponent

power(8,3)

512

Exercise 4
Write a function find_max(numbers) that:
Takes a single parameter numbers (a list of integers or floats).
Returns the largest number in the list.

In [14]:
def find_max(numbers):
    return max(numbers)

find_max([2,7,9,4,1])

9

Exercise 5
Write a function fibonacci(n) that:
Takes a single parameter n (an integer).
Returns a list containing the first n numbers in the Fibonacci sequence.

In [4]:
def fibonacci(n):
    sequence = [0, 1]
    for _ in range(n - 2):
        sequence.append(sequence[-1] + sequence[-2])
    return sequence[:n]
fibonacci(6)

[0, 1, 1, 2, 3, 5]